@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root{
    --bg-color: #fdfdfd;
    --bg-color-dark-mode: #0d051c; 
    --text-color: #333;
    --main-color: #6f51ec;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, .2);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: .5s ease;
}

.header header{
    position: fixed;
    top: 0;
    left: 0;
    padding: 2rem 7%;
    width: 100%;
    display: flex;
    z-index: 100;
    align-items: center;
    background-color: transparent;
    transition: .5s;
}

header.sticky{
    background: var(--bg-color);
    box-shadow: 0 .1rem 1rem var(--shadow-color);
}

header.sticky nav a{
    color: var(--text-color);
}

header.sticky nav a.active{
    border-bottom: 3.2px solid var(--main-color);
}

header.sticky #darkMode-icon{
    color: var(--text-color);
}

header #menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}


.logo{
    font-weight: 800;
    font-size: 2.5rem;
    margin-right: auto;
}

.logo a{
    cursor: default;
    color: var(--main-color);
}

nav a{
    color: var(--white-color);
    font-size: 1.7rem;
    font-weight: 500;
    margin-right: 3.5rem ;
    padding-bottom: 4px;
}

nav a.active{
    text-decoration: none;
    border-bottom: 3.2px solid var(--white-color);
}

#darkMode-icon{
    font-size: 2.5rem;
    color: var(--white-color);
    cursor: pointer;
}

section.home{
    height: 100vh;
    padding: 10rem 7% 2rem;
    display: flex;
    align-items: center;
}

.contentHomePage{
    max-width: 44rem;
}

.contentHomePage h3{
    font-size: 3.2rem;
    font-weight: 700;
    line-height: .3;
}

.contentHomePage h1{
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: .3rem;
}

.contentHomePage p{
    font-size: 1.6rem;
}

.contentHomePage .socialIcons a{
   display: inline-flex;
   justify-content: center;
   align-items: center;
   width: 4rem;
   height: 4rem;
   background: transparent;
   border: .2rem solid var(--main-color);
   border-radius: 50%;
   box-shadow: 0 .2rem .5rem var(--shadow-color);
   font-size: 2rem;
   color: var(--main-color);
   margin: 2.5rem 1.5rem 3rem 0;
   transition: .5s ease;
   margin-bottom: 3.7rem;
}

.contentHomePage .socialIcons a:hover{
    background: var(--main-color);
    color: var(--white-color);
}

.downloadCv a{
    padding: 1.2rem 2.8rem;
    background-color: var(--main-color);
    color: var(--white-color);
    border-radius: .6rem;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: .1rem;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    transition: .5s ease;
}

.downloadCv a:hover{
    cursor: pointer;
    background-color: var(--white-color);
    color: var(--main-color);
    border: 2px solid var(--main-color);
}

.imageProfissional{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 100vh;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
}

.imageProfissionalBox{
    position: absolute;
    top: 0;
    right: 0;
    width: 100vh;
    height: 100vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Profissional{
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--main-color);
    transform: rotate(calc(360deg / 4 * var(--i)));
    transform-origin: 384px;
    left: 0;
    background: var(--bg-color);
    padding: 10px 0;
}

.Profissional:nth-child(1) i{
    margin-right: 15px;
}

.Profissional:nth-child(1),
.Profissional:nth-child(4){
    padding-bottom: 20px;
}

.Profissional i{
    font-size: 3.8rem;
}

.Profissional h3{
    font-size: 3.2rem;
    line-height: 1;
    font-weight: 600;
}

.imageProfissionalBox .circle{
    width: calc(100vh * 0.72916);
    height: calc(100vh * 0.72916);
    border: 3px solid var(--main-color);
    border-radius: 50%;
}

.imageProfissional .overlay{
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: calc(100vh/2) solid var(--main-color);
    border-left: calc(100vh/2) solid transparent;
    border-right: calc(100vh/2) solid var(--main-color);
    border-bottom: calc(100vh/2) solid var(--main-color);
}

.homeImg img{
    position: absolute;
    bottom: 0;
    right: 0;
    pointer-events: none;
    transform: translateY(-30%) translateX(20%);
}

/*about*/

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-right: 13rem;
    height: 100vh;
}

.aboutImage img{
    width: 50vw;
}

.aboutContent span{
    color: #6f51ec;
}

.aboutContent h2{
    font-size: 4.5rem;
    text-align: center;
    text-align: left;
    line-height: 1.4;
}

.aboutContent h3{
    font-size: 2rem;
}

.aboutContent p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

/*services*/
.services{
    padding-top: 10rem;
    margin: 4rem 7%;
    align-items: center;
    min-height: 100vh
}

.services h3{
    margin-bottom: 5rem;
    font-size: 5rem;
    text-align: center;
    line-height: 1.4;
}

.servicesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services h3 span{
    color: var(--main-color);
}

.servicesBox{
    flex: 1 1 30rem ;
    background: var(--bg-color);
    padding: 4rem 6rem 6rem;
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    text-align: center;
    border-bottom: .6rem solid var(--main-color);
    border-top: .6rem solid var(--main-color);
    transition: .5s ease;
}

.servicesBox:hover{
    box-shadow: 0 .1rem 2rem var(--shadow-color);
    transform: scale(1.02);
}

.servicesBox a{
    padding: 1.2rem 2.8rem;
    background-color: var(--main-color);
    color: var(--white-color);
    border-radius: .6rem;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: .1rem;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    transition: .5s ease;
}

.servicesBox a:hover{
    cursor: pointer;
    background-color: var(--white-color);
    color: var(--main-color);
    border: 2px solid var(--main-color);
}

.servicesBox i{
    font-size: 7rem;
    color: var(--main-color);
    margin-bottom: 1rem;
}

.servicesBox h2{
    font-size: 2.6rem;
    transition: .5s ease;
}

.servicesBox h2:hover{
    color: var(--main-color);
}

.servicesBox p{
     font-size: 1.6rem;
     margin: 1rem 0 3rem;
}

/* Portfolio Design */
.portfolio{
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.portfolio h2{
    margin-bottom: 4rem;
    font-size: 5rem;
    text-align: center;
    line-height: 1.4;
}
.portfolio h2 span{
    color: var(--main-color);
}

.portfolio .portfolioContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
    margin: 0 8rem;
}

.portfolioBox{
    position: relative;
    display: flex;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
    overflow: hidden;
}

.portfolioContainer .portfolioBox img{
    width: 100%;
    transition: .5s ease;
}

.portfolioBox:hover img{
    transform: scale(1.1);
}

.portfolioBox .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 0 4rem;
    opacity: 0;
    transition: .5s ease;
}

.portfolio-layer:hover{
    opacity: 1;
}

.portfolio-layer h4{
    font-size: 3rem;
    transition: .3s ease;
}

.portfolio-layer h4:hover{
    color: var(--main-color);
}

.portfolio-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--main-color);
    border-radius: 50%;
    margin-top: 3rem ;
    transition: .3s ease;
}

.portfolio-layer a i{
    font-size: 2rem;
    color: var(--text-color);
}

.portfolio-layer a:hover{
    transform: scale(1.1);
}

/* Testimonial Design */
.testimonialContainer h2{
margin-bottom: 4rem;
font-size: 5rem;
text-align: center;
line-height: 1.4;
}

.testimonialContainer span{
    color: var(--main-color);
}

.testimonialContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 5rem 1rem;
}

.testimonial-wrapper{
    position: relative;
    max-width: 90rem;
    width: 100%;
    padding: 5rem;
}

.testimonial-slide{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--bg-color);
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    padding: 3rem 5rem;
    border-top: .8rem solid var(--main-color);
    border-bottom: .8rem solid var(--main-color);
}

.testimonial-slide img{
    display: flex;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: .5rem solid var(--bg-color);
    outline: .2rem solid var(--main-color);
}

.testimonial-slide h3{
    font-size: 2.5rem;
    margin: 2rem 0;
    text-align: center;
}

.testimonial-slide p{
    font-size: 1.4rem;
    text-align: center;   
}

.testimonial-box{
    padding: 1rem;
    border-radius: 2rem;
    overflow: hidden;
}

.testimonial-box .swiper-button-next, 
.testimonial-box .swiper-button-prev {
    color: var(--main-color);
}

.testimonial-box .swiper-button-next{
    right: 0;
}

.testimonial-box .swiper-button-prev{
    left: 0;
}

.testimonial-box .swiper-pagination-bullet{
    background: var(--text-color);
}

/* contact */
.contact h2{
    margin-bottom: 3rem;
    font-size: 4.5rem;
    text-align: center;
    line-height: 1.4;
    }
    
.contact span{
    color: var(--main-color);
}

.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .inputBox input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    outline: .1rem solid var(--main-color);
}

.contact .formsBtn{
    padding: 1.2rem 2.8rem;
    background-color: var(--main-color);
    color: var(--white-color);
    border-radius: .6rem;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: .1rem;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    transition: .5s;
}

.contact .formsBtn:hover{
    cursor: pointer;
    background-color: var(--white-color);
    color: var(--main-color);
    border: .2rem solid var(--main-color);
}

.contact form .inputBox input{
    width: 49%;
}

/* footer design */
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--main-color);  
}

.footerText p{
    font-size: 1.6rem;
    color: var(--white-color);
}

.footerIconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--white-color);
    border-radius: .8rem;
    border: .2rem solid var(--white-color);
    transition: .3s ease;
}

.footerIconTop a:hover{
    transform: scale(1.1);
}

.footerIconTop a i{
    font-size: 2.5rem;

}

/* BreakPoint */
@media (max-width: 1200px){
    html{
        font-size: 55%;
    }

    .home .imageProfissional{
        height: 111.8rem;
    }

    .home .imageProfissional .imageProfissionalBox{
        right: -40rem;
        height: 106rem;
    }

    .imageProfissional .overlay{
        right: -32rem;
    }

    .homeImg img{
      transform: translateY(-10%) translateX(30%); 
       }
}

/* devices 1024px */
@media (max-width: 1024px){
    .header {
        padding: 2rem 3%;
    }

    section{
        padding: 10rem 3% 2rem;
    }

    .home .imageProfissional .imageProfissionalBox{
        right: -22rem;
    }

    .home .overlay{
        right: -15rem;
    }
}

/* Devices 991px */
@media (max-width: 991px){

    .header a:nth-child(1){
        color: var(--main-color);
    }

    .header nav a.active::before{
        background: var(--main-color);
        opacity: .7;
    }

    .home .contentHomePage{
        max-width: 50rem;
    }

    .home .imageProfissional .imageProfissionalBox{
        right: -70rem;
    }

    .home .overlay{
        right: -55rem;
    }

    .homeImg img{
        display: none;
    }

    .imageProfissionalBox .Profissional{
    padding: 10px 25px 10px 25px;
    }

    .services,
    .portfolio{
        padding-bottom: 7rem;
    }

    .contact{
        min-height: auto;
    }

    .footer{
        padding: 2rem 3%;
    }
}

/* 768px  */
@media (max-width: 768px){

    .header #menu-icon{
        display: block;
    }

    header nav{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    }

    header nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--text-color);
    }
}